.Container{
    min-height: 100vh;
    background-image: url(../images/FormBg.png);
    background-position: center;
    background-size: cover;
}
.logo{
    width: fit-content;
    margin: 3rem auto;
}
.Container form{
    background-color: white;
    width: 50%;
    margin: auto;
    padding: 4rem 4rem 2rem;
}

.Container form > h2{
    /* text-align: center; */
    padding: 0.5rem;
    border-bottom: 1px solid #DCDCDC;
    margin-bottom: 0.8rem;
}
.Container form > p{
    font-size: 0.9rem;
    color: #3A3C3E;
}
.inputGrp{
    margin: 2rem 0;
}
.inputGrp label{
    font-size: 0.8rem;
    color: #3A3C3E;
}
.inputGrp input{
    display: block;
    width: 100%;
    padding: 0.8rem;
    margin-top: 0.5rem;
    outline: none;
    border: 1px solid #3A3C3E;
    border-radius: 0.3rem;
}
.btn{
    background-color: #FBCA41;
    display: block;
    border: 1px solid transparent;
    width: 100%;
    color: black;
    text-align: center;
    padding: 1rem 0;
    font-weight: bold;
    margin: 3rem 0;
    cursor: pointer;
}
.enquiries{
    font-size: 0.8rem;
    text-align: center;
}
